schema-repo/src/test/resources/candidate/fullitin/fullitin-validation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           xmlns:itin="http://schemas.delving.eu/itin/"
           targetNamespace="http://schemas.delving.eu/itin/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">



    <xs:attribute name="label" type="xs:string"/>

    <xs:attribute name="type" type="xs:string"/>
    <xs:attribute name="sourceId" type="xs:string"/>
    <xs:attribute name="organizationType" type="xs:string"/>
    <xs:attribute name="referenceType" type="xs:string"/>
    <xs:attribute name="eventType" type="xs:string"/>

    <xs:attribute name="extra" type="xs:string"/>
    <xs:attribute name="firstName" type="xs:string"/>
    <xs:attribute name="lastName" type="xs:string"/>
    <xs:attribute name="position" type="xs:string"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="entitytype" type="xs:string"/>
    <xs:attribute name="bundle" type="xs:string"/>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="linkType" type="xs:string"/>
    <xs:attribute name="pathalias" type="xs:string"/>
    <xs:attribute name="path" type="xs:string"/>
    <xs:attribute name="accomodationType" type="xs:string"/>


    <xs:element type="itin:recordType" name="record" />

    <xs:complexType name="recordType">
        <xs:sequence>
            <xs:element type="itin:typeOfRecord" name="recordType" minOccurs="1" maxOccurs="1"/>
            <xs:element type="itin:adminType" name="admin" minOccurs="1" maxOccurs="1"/>
            <xs:element type="itin:organizationType" name="organization" minOccurs="0" />
            <xs:element type="itin:historyPersonType" name="history_person" minOccurs="0" />
            <xs:element type="itin:referenceType" name="reference" minOccurs="0" />
            <xs:element type="itin:eventType" name="event" minOccurs="0" />
            <xs:element type="itin:pvbType" name="pvb" minOccurs="0" />
            <xs:element type="itin:placeType" name="place" minOccurs="0" />
            <xs:element type="itin:accomodationType" name="accomodation" minOccurs="0" />
            <xs:element type="itin:historyPeriodType" name="history_period" minOccurs="0" />
        </xs:sequence>
        <xs:attribute ref="itin:sourceId"/>
    </xs:complexType>

    <xs:complexType name="typeOfRecord">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute ref="itin:type"/>
                <xs:attribute ref="itin:label"/>
                <xs:attribute ref="itin:sourceId"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>


    <xs:complexType name="historyPeriodType">
        <xs:sequence>
            <xs:element name="experience" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="sources" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="period_date" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:itinNodeType" name="itinNode" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:taxonomyType" name="taxonomy" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="accomodationType">
        <xs:sequence>
            <xs:element name="classification" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="public_transport" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="sources" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="amazon" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:itinNodeType" name="itinNode" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:openType" name="open" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:contactType" name="contact" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:taxonomyType" name="taxonomy" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:linksType" name="links" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute ref="itin:sourceId"/>
        <xs:attribute ref="itin:accomodationType"/>
    </xs:complexType>

    <xs:complexType name="placeType">
        <xs:sequence>
            <xs:element type="itin:wapenType" name="wapen" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:itinNodeType" name="itinNode" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:locationType" name="location" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:taxonomyType" name="taxonomy" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute ref="itin:sourceId"/>
        <xs:attribute ref="itin:organizationType"/>
    </xs:complexType>

    <xs:complexType name="wapenType">
        <xs:sequence>
            <xs:element name="wapen" minOccurs="0" maxOccurs="1"/>
            <xs:element name="wapen_toelichting" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="adminType">
        <xs:sequence>
            <xs:element name="displayDataProvider" minOccurs="0" maxOccurs="1"/>
            <xs:element name="displayDataProviderCountry" minOccurs="0" maxOccurs="1"/>
            <xs:element name="displayProvider" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="organizationType">
        <xs:sequence>
            <xs:element type="itin:itinNodeType" name="itinNode" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:openType" name="open" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:addressType" name="address" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:contactType" name="contact" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:taxonomyType" name="taxonomy" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute ref="itin:sourceId"/>
        <xs:attribute ref="itin:organizationType"/>
    </xs:complexType>

    <xs:complexType name="historyPersonType">
        <xs:sequence>
            <xs:element type="itin:lifeType" name="life" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="nickname" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="function" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="gender" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="person_category" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:itinNodeType" name="itinNode" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:taxonomyType" name="taxonomy" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="eventType">
        <xs:sequence>
            <xs:element type="itin:categoriesType" name="categories" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:eventDetailsType" name="eventDetails" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:participantsType" name="participants" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:organiserType" name="organiser" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="status" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="websiteUrl" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:calendarType" name="calendar" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:contactType" name="contact" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:locationType" name="location" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:linksType" name="links" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:itinNodeType" name="itinNode" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute ref="itin:eventType"/>
    </xs:complexType>

    <xs:complexType name="categoriesType">
        <xs:sequence>
            <xs:element name="category" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute ref="itin:type"/>
    </xs:complexType>

    <xs:complexType name="eventDetailsType">
        <xs:sequence>
            <xs:element name="title" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="shortDescription" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="longDescription" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="notes" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:mediaType" name="media" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:urlsType" name="urls" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="mediaType">
        <xs:sequence>
            <xs:element type="itin:fileType" name="file" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="fileType">
        <xs:sequence>
            <xs:element name="description" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="hlink" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="title" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute ref="itin:type"/>
    </xs:complexType>

    <xs:complexType name="urlsType">
        <xs:sequence>
            <xs:element name="url" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="participantsType">
        <xs:sequence>
            <xs:element name="participant" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute ref="itin:extra"/>
        <xs:attribute ref="itin:firstName"/>
        <xs:attribute ref="itin:lastName"/>
        <xs:attribute ref="itin:position"/>
    </xs:complexType>

    <xs:complexType name="organiserType">
        <xs:sequence>
            <xs:element name="name" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:addressType" name="address" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="calendarType">
        <xs:sequence>
            <xs:element name="startDate" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="startTime" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="endDate" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="endTime" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="year" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="locationType">
        <xs:sequence>
            <xs:element name="name" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:addressType" name="address" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:urlsType" name="urls" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:gisType" name="gis" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="linksType">
        <xs:sequence>
            <xs:element type="itin:linkType" name="link" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="linkType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute ref="itin:name"/>
                <xs:attribute ref="itin:type"/>
                <xs:attribute ref="itin:entitytype"/>
                <xs:attribute ref="itin:bundle"/>
                <xs:attribute ref="itin:id"/>
                <xs:attribute ref="itin:linkType"/>
                <xs:attribute ref="itin:pathalias"/>
                <xs:attribute ref="itin:path"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="lifeType">
        <xs:sequence>
            <xs:element name="dates" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="life" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="date_circa" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="birth_place" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="death_place" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="residence" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="referenceType">
        <xs:sequence>
            <xs:element name="language" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="title" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="source" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="author" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="pub_location" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="pub_year" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:bookType" name="book" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="magazine" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:book_magazineType" name="book_magazine" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="pages" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="page_numbers" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:websiteType" name="website" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="related_pvb" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="related_history_person" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute ref="itin:referenceType"/>
    </xs:complexType>

    <xs:complexType name="bookType">
        <xs:sequence>
            <xs:element name="publisher" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="book_magazineType">
        <xs:sequence>
            <xs:element name="isbn" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="issn" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="magazine_name" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="magazine_issue" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="websiteType">
        <xs:sequence>
            <xs:element name="organisation_name" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="url" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="itinNodeType">
        <xs:sequence>
            <xs:element name="title" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="language" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="taglines" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="summary" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="body" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="media" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="path" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="openType">
        <xs:sequence>
            <xs:element name="open_days" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="open_description" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="addressType">
        <xs:sequence>
            <xs:element name="country" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="province" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="region" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="city" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="postcode" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="streetAddress" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="phone" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="email" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="url" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:gisType" name="gis" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="contactType">
        <xs:sequence>
            <xs:element name="position" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="name" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="city" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="postcode" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="streetAddress" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="phone" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="email" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="url" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:gisType" name="gis" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute ref="itin:type"/>
    </xs:complexType>

    <xs:complexType name="gisType">
        <xs:sequence>
            <xs:element name="geonamesUri" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="geonamesId" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="place" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="long" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="lat" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="taxonomyType">
        <xs:sequence>
            <xs:element name="category" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="subject" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="tags" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="sections" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="pvbType">
        <xs:sequence>
            <xs:element name="language" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="title" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:descriptionType" name="description" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="additional" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="poi_subtype" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:factual_infoType" name="factual_info" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="use" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="suggestions" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:infoType" name="info" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:surroundingsType" name="surroundings" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:visitor_infoType" name="visitor_info" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:historyType" name="history" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="amazon" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ref_collection" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="sources" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="attachments" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:taxonomyType" name="taxonomy" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="media" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="path" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:linksType" name="links" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="descriptionType">
        <xs:sequence>
            <xs:element name="year" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="date" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="date_year" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="date_circa" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="importance" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="poi_type" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="taglines" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="summary" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="body" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="factual_infoType">
        <xs:sequence>
            <xs:element name="poi_friends" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="poi_friends_of" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="poi_society_info" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="poi_society" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="infoType">
        <xs:sequence>
            <xs:element name="directions" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="public_transportation" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="phone" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="url" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="email" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="twitter" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="facebook" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="hyves" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="surroundingsType">
        <xs:sequence>
            <xs:element name="surroundings" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="visitor_infoType">
        <xs:sequence>
            <xs:element name="public_access" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="days_open" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="visitor_info" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="fee" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="fees" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="cjp" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="children_friendly" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="itin:facilitiesType" name="facilities" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="facilitiesType">
        <xs:sequence>
            <xs:element name="facilities_shop" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="facilities_horeca" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="facilities_toilet" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="facilities_parking" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="facilities_wheelchair" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="wifi" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="facilities_other" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="historyType">
        <xs:sequence>
            <xs:element name="history" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="type" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>



</xs:schema>
