sip-app/src/test/resources/definitions/itin/itin-validation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:icn="http://www.icn.nl/schemas/icn/"
           xmlns:delving="http://schemas.delving.eu/"
           xmlns:dc="http://purl.org/dc/elements/1.1/"
           xmlns:dcterms="http://purl.org/dc/terms/"
           xmlns:europeana="http://www.europeana.eu/schemas/ese/"
           xmlns:itin="http://schemas.delving.eu/itin/"
           targetNamespace="http://schemas.delving.eu/itin/"
           blockDefault="#all">

    <xs:import namespace="http://schemas.delving.eu/" schemaLocation="http://schemas.delving.eu/delving-V1.0.xsd"/>
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/03/xml.xsd"/>
    <xs:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="http://www.dublincore.org/schemas/xmls/qdc/dc.xsd"/>
    <xs:import namespace="http://purl.org/dc/terms/" schemaLocation="http://schemas.delving.eu/dcterms-local.xsd"/>
    <xs:import namespace="http://www.europeana.eu/schemas/ese/" schemaLocation="http://schemas.delving.eu/ese-local.xsd"/>

    <xs:element name="thumbnail" type="xs:anyURI"/>

    <xs:group name="dcGroup">
        <xs:choice >
            <xs:element ref="dc:title" minOccurs="0" maxOccurs="unbounded" />
            <xs:element ref="dc:creator" minOccurs="0" maxOccurs="unbounded" />
            <xs:element ref="dc:subject" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dc:description" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dc:publisher" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dc:contributor" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dc:date" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dc:type" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dc:format" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dc:identifier" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dc:source" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dc:language" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dc:relation" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dc:coverage" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dc:rights" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice>
    </xs:group>

    <xs:group name="dctermsGroup">
        <xs:choice>
            <xs:element ref="dcterms:created" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcterms:extent" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcterms:hasFormat" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcterms:hasPart" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcterms:hasVersion" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcterms:isFormatOf" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcterms:isPartOf" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcterms:isReferencedBy" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcterms:isReplacedBy" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcterms:isRequiredBy" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcterms:isVersionOf" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcterms:issued" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcterms:medium" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcterms:references" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcterms:replaces" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcterms:requires" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcterms:tableOfContents" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcterms:alternative" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcterms:spatial" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcterms:temporal" minOccurs="0" maxOccurs="unbounded" />
            <xs:element ref="dcterms:provenance" minOccurs="0" maxOccurs="unbounded" />
            <xs:element ref="dcterms:rightsHolder" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice>
    </xs:group>


    <xs:element name="record" type="itin:recordType" block="substitution"/>

    <xs:complexType name="recordType">
        <xs:sequence>

            <!-- Basis datablock -->
            <xs:element name="cfield_record_type" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="title" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="language" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_taglines" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_summary" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_body" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_history" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_sources" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_media" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_path" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="cfield_name" minOccurs="0" maxOccurs="unbounded"/>

            <!--Taxonomy-->
            <xs:element name="field_Subject" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_Tags" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_Sections" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="cfield_Category" minOccurs="0" maxOccurs="unbounded"/>

            <!--Location block -->
            <xs:element name="cfield_loc_country" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="cfield_loc_province" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="cfield_loc_region" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="cfield_loc_city" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="cfield_loc_postcode" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="cfield_loc_streetAddress" minOccurs="0" maxOccurs="unbounded"/>

            <xs:element name="cfield_position" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="cfield_place" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_phone" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_email" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_url" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_days_open" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_open_description" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_public_transport" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_public_access" minOccurs="0" maxOccurs="unbounded"/>

            <xs:element name="loc_name" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="loc_environment" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="loc_telecoms" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="loc_access" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="loc_geonamesUri" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="loc_geonamesId" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="cfield_zooverPLaceId" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="cfield_zooverRegionId" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="cfield_zooverProvinceId" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="cfield_zooverCountryId" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="loc_place" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="cfield_lat" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="cfield_long" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="cfield_latLong" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="cfield_itin_place" minOccurs="0" maxOccurs="unbounded"/>

            <!--Event-->
            <xs:element name="field_date" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_date_year" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_date_circa" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_contact" minOccurs="0" maxOccurs="unbounded"/>

            <!--Places-->
            <xs:element name="field_wapen" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_wapen_toelichting" minOccurs="0" maxOccurs="unbounded"/>

            <!--Calendar-->
            <xs:element name="cal_startDate" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="cal_startTime" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="cal_endDate" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="cal_endTime" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="cal_year" minOccurs="0" maxOccurs="unbounded"/>

            <!--Persoon-->
            <xs:element name="field_nickname" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_life_dates" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_life" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_birth_place" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_death_place" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_residence" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_function" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_gender" minOccurs="0" maxOccurs="unbounded"/>

            <!-- POI -->
            <xs:element name="field_year" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_importance" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_poi_friends_of" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_poi_society" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_directions" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_hyves" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_facebook" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_twitter" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_visitor_info" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_fees" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_children_friendly" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_cjp" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_facilities_shop" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_facilities_horeca" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_facilities_toilet" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_facilities_parking" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_facilities_wheelchair" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_wifi" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_facilities_other" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_use" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_amazon" minOccurs="0" maxOccurs="unbounded"/>

            <!--pvb links-->
            <xs:element name="pvbLink_name" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="pvbLink_type" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="pvbLink_entityType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="pvbLink_bundle" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="pvbLink_id" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="pvbLink_linkType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="pvbLink_pathalias" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="pvbLink_path" minOccurs="0" maxOccurs="unbounded"/>

            <!--Contenttype info-->
            <xs:element name="field_organization_type" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_reference_type" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_event_type" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_accommodation_type" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="field_place_type" minOccurs="0" maxOccurs="unbounded"/>


            <xs:group minOccurs="0" maxOccurs="unbounded" ref="itin:dcGroup" />
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="itin:dctermsGroup" />

            <xs:element ref="europeana:isShownBy" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="europeana:rights" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="europeana:isShownAt" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="europeana:unstored" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="europeana:object" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="europeana:provider" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="europeana:dataProvider" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="europeana:type" minOccurs="0" maxOccurs="1"/>

            <xs:element ref="europeana:uri" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="europeana:language" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="europeana:country" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="europeana:collectionName" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="europeana:collectionTitle" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="europeana:source" minOccurs="0" maxOccurs="unbounded"/>

            <xs:element ref="delving:year" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="delving:thumbnail" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="delving:deepZoomUrl" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="delving:fullTextObjectUrl" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="delving:fullText" minOccurs="0" maxOccurs="unbounded"/>

        </xs:sequence>
    </xs:complexType>

</xs:schema>