sip-core/src/test/resources/aff-example_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="aff" type="affType"/>
  <xs:complexType name="collectionType">
    <xs:sequence>
      <xs:element type="xs:string" name="collectionID"/>
      <xs:element type="xs:string" name="collectionUri"/>
      <xs:element type="xs:string" name="collectionName"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mediaFilesType">
    <xs:sequence>
      <xs:element type="mediaFileType" name="mediaFile"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mediaFileType">
    <xs:sequence>
      <xs:element type="xs:string" name="localURL"/>
      <xs:element type="xs:string" name="localMediaTypeUri"/>
      <xs:element type="xs:string" name="localMimeType"/>
      <xs:element type="xs:string" name="delvingMediaURI"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="placesType">
    <xs:sequence>
      <xs:element type="placeType" name="place"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="typesType">
    <xs:sequence>
      <xs:element type="typeType" name="type"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eventType">
    <xs:sequence>
      <xs:element type="xs:string" name="displayDate"/>
      <xs:element type="xs:string" name="eventTypeUri"/>
      <xs:element type="xs:string" name="evenTypeName"/>
      <xs:element type="xs:string" name="eventName"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="affType">
    <xs:sequence>
      <xs:element type="adminType" name="admin"/>
      <xs:element type="collectionType" name="collection"/>
      <xs:element type="thingType" name="thing"/>
      <xs:element type="mediaFilesType" name="mediaFiles"/>
      <xs:element type="actorsType" name="actors"/>
      <xs:element type="placesType" name="places"/>
      <xs:element type="typesType" name="types"/>
      <xs:element type="eventsType" name="events"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eventsType">
    <xs:sequence>
      <xs:element type="eventType" name="event"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="typeType">
    <xs:sequence>
      <xs:element type="xs:string" name="localId"/>
      <xs:element type="xs:string" name="localUri"/>
      <xs:element type="xs:string" name="roleUri"/>
      <xs:element type="xs:string" name="roleName"/>
      <xs:element type="xs:string" name="sourceName"/>
      <xs:element type="xs:string" name="sourceUri"/>
      <xs:element type="xs:string" name="typeName"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actorType">
    <xs:sequence>
      <xs:element type="xs:string" name="localId"/>
      <xs:element type="xs:string" name="localUri"/>
      <xs:element type="xs:string" name="roleUri"/>
      <xs:element type="xs:string" name="roleName"/>
      <xs:element type="xs:string" name="sourceName"/>
      <xs:element type="xs:string" name="sourceUri"/>
      <xs:element type="xs:string" name="displayDate"/>
      <xs:element type="xs:string" name="firstName"/>
      <xs:element type="xs:string" name="lastName"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="adminType">
    <xs:sequence>
      <xs:element type="xs:string" name="ownerUri"/>
      <xs:element type="xs:string" name="ownerName"/>
      <xs:element type="xs:string" name="providerUri"/>
      <xs:element type="xs:string" name="providerName"/>
      <xs:element type="xs:string" name="rigths"/>
      <xs:element type="xs:string" name="checksum"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actorsType">
    <xs:sequence>
      <xs:element type="actorType" name="actor"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="placeType">
    <xs:sequence>
      <xs:element type="xs:string" name="localId"/>
      <xs:element type="xs:string" name="localUri"/>
      <xs:element type="xs:string" name="roleUri"/>
      <xs:element type="xs:string" name="roleName"/>
      <xs:element type="xs:string" name="sourceName"/>
      <xs:element type="xs:string" name="sourceUri"/>
      <xs:element type="xs:string" name="displayDate"/>
      <xs:element type="xs:string" name="placeName"/>
      <xs:element type="xs:string" name="lat"/>
      <xs:element type="xs:string" name="long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="thingType">
    <xs:sequence>
      <xs:element type="xs:string" name="thingId"/>
      <xs:element type="xs:string" name="thingUri"/>
      <xs:element type="xs:string" name="workType"/>
      <xs:element type="xs:string" name="title"/>
      <xs:element type="xs:string" name="description"/>
      <xs:element type="xs:string" name="language"/>
      <xs:element type="xs:string" name="displayMeasurement"/>
      <xs:element type="xs:string" name="displayYear"/>
      <xs:element type="xs:string" name="landingPage"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>