sip-core/src/test/resources/aff-validation_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.aff-schema.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="aff" type="aff:affType" xmlns:aff="http://www.aff-schema.org"/>
  <xs:complexType name="adminType">
    <xs:sequence>
      <xs:element type="xs:string" name="ownerUri"/>
      <xs:element type="xs:string" name="ownerName"/>
      <xs:element type="xs:string" name="providerUri"/>
      <xs:element type="xs:string" name="providerName"/>
      <xs:element type="xs:string" name="rigths"/>
      <xs:element type="xs:string" name="checksum"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actorsType">
    <xs:sequence>
      <xs:element type="aff:actorType" name="actor" xmlns:aff="http://www.aff-schema.org"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="placeType">
    <xs:sequence>
      <xs:element type="xs:string" name="localId"/>
      <xs:element type="xs:string" name="localUri"/>
      <xs:element type="xs:string" name="roleUri"/>
      <xs:element type="xs:string" name="roleName"/>
      <xs:element type="xs:string" name="sourceName"/>
      <xs:element type="xs:string" name="sourceUri"/>
      <xs:element type="xs:string" name="displayDate"/>
      <xs:element type="xs:string" name="placeName"/>
      <xs:element type="xs:string" name="lat"/>
      <xs:element type="xs:string" name="long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="thingType">
    <xs:sequence>
      <xs:element type="xs:string" name="thingId"/>
      <xs:element type="xs:string" name="thingUri"/>
      <xs:element type="xs:string" name="workType"/>
      <xs:element type="xs:string" name="title"/>
      <xs:element type="xs:string" name="description"/>
      <xs:element type="xs:string" name="language"/>
      <xs:element type="xs:string" name="displayMeasurement"/>
      <xs:element type="xs:string" name="displayYear"/>
      <xs:element type="xs:string" name="landingPage"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="typeType">
    <xs:sequence>
      <xs:element type="xs:string" name="localId"/>
      <xs:element type="xs:string" name="localUri"/>
      <xs:element type="xs:string" name="roleUri"/>
      <xs:element type="xs:string" name="roleName"/>
      <xs:element type="xs:string" name="sourceName"/>
      <xs:element type="xs:string" name="sourceUri"/>
      <xs:element type="xs:string" name="typeName"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actorType">
    <xs:sequence>
      <xs:element type="xs:string" name="localId"/>
      <xs:element type="xs:string" name="localUri"/>
      <xs:element type="xs:string" name="roleUri"/>
      <xs:element type="xs:string" name="roleName"/>
      <xs:element type="xs:string" name="sourceName"/>
      <xs:element type="xs:string" name="sourceUri"/>
      <xs:element type="xs:string" name="displayDate"/>
      <xs:element type="xs:string" name="firstName"/>
      <xs:element type="xs:string" name="lastName"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="placesType">
    <xs:sequence>
      <xs:element type="aff:placeType" name="place" xmlns:aff="http://www.aff-schema.org"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="typesType">
    <xs:sequence>
      <xs:element type="aff:typeType" name="type" xmlns:aff="http://www.aff-schema.org"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eventType">
    <xs:sequence>
      <xs:element type="xs:string" name="displayDate"/>
      <xs:element type="xs:string" name="eventTypeUri"/>
      <xs:element type="xs:string" name="evenTypeName"/>
      <xs:element type="xs:string" name="eventName"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="affType">
    <xs:sequence>
      <xs:element type="aff:adminType" name="admin" xmlns:aff="http://www.aff-schema.org"/>
      <xs:element type="aff:collectionType" name="collection" xmlns:aff="http://www.aff-schema.org"/>
      <xs:element type="aff:thingType" name="thing" xmlns:aff="http://www.aff-schema.org"/>
      <xs:element type="aff:mediaFilesType" name="mediaFiles" xmlns:aff="http://www.aff-schema.org"/>
      <xs:element type="aff:actorsType" name="actors" xmlns:aff="http://www.aff-schema.org"/>
      <xs:element type="aff:placesType" name="places" xmlns:aff="http://www.aff-schema.org"/>
      <xs:element type="aff:typesType" name="types" xmlns:aff="http://www.aff-schema.org"/>
      <xs:element type="aff:eventsType" name="events" xmlns:aff="http://www.aff-schema.org"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eventsType">
    <xs:sequence>
      <xs:element type="aff:eventType" name="event" xmlns:aff="http://www.aff-schema.org"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="collectionType">
    <xs:sequence>
      <xs:element type="xs:string" name="collectionID"/>
      <xs:element type="xs:string" name="collectionUri"/>
      <xs:element type="xs:string" name="collectionName"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mediaFilesType">
    <xs:sequence>
      <xs:element type="aff:mediaFileType" name="mediaFile" xmlns:aff="http://www.aff-schema.org"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mediaFileType">
    <xs:sequence>
      <xs:element type="xs:string" name="localURL"/>
      <xs:element type="xs:string" name="localMediaTypeUri"/>
      <xs:element type="xs:string" name="localMimeType"/>
      <xs:element type="xs:string" name="delvingMediaURI"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>