sip-core/src/test/resources/aff-validation_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.aff-schema.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="place">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="aff:localId" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:localUri" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:roleUri" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:roleName" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:sourceName" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:sourceUri" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:displayDate" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:placeName" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:lat" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:long" xmlns:aff="http://www.aff-schema.org"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="collectionName" type="xs:string"/>
  <xs:element name="collectionUri" type="xs:string"/>
  <xs:element name="eventTypeUri" type="xs:string"/>
  <xs:element name="description" type="xs:string"/>
  <xs:element name="event">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="aff:displayDate" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:eventTypeUri" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:evenTypeName" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:eventName" xmlns:aff="http://www.aff-schema.org"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="displayMeasurement" type="xs:string"/>
  <xs:element name="aff">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="aff:admin" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:collection" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:thing" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:mediaFiles" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:actors" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:places" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:types" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:events" xmlns:aff="http://www.aff-schema.org"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="workType" type="xs:string"/>
  <xs:element name="roleName" type="xs:string"/>
  <xs:element name="placeName" type="xs:string"/>
  <xs:element name="localURL" type="xs:string"/>
  <xs:element name="landingPage" type="xs:string"/>
  <xs:element name="checksum" type="xs:string"/>
  <xs:element name="actor">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="aff:localId" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:localUri" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:roleUri" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:roleName" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:sourceName" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:sourceUri" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:displayDate" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:firstName" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:lastName" xmlns:aff="http://www.aff-schema.org"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="long" type="xs:string"/>
  <xs:element name="type">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="aff:localId" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:localUri" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:roleUri" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:roleName" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:sourceName" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:sourceUri" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:typeName" xmlns:aff="http://www.aff-schema.org"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="thingId" type="xs:string"/>
  <xs:element name="eventName" type="xs:string"/>
  <xs:element name="language" type="xs:string"/>
  <xs:element name="thing">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="aff:thingId" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:thingUri" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:workType" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:title" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:description" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:language" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:displayMeasurement" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:displayYear" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:landingPage" xmlns:aff="http://www.aff-schema.org"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="evenTypeName" type="xs:string"/>
  <xs:element name="providerName" type="xs:string"/>
  <xs:element name="providerUri" type="xs:string"/>
  <xs:element name="delvingMediaURI" type="xs:string"/>
  <xs:element name="places">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="aff:place" xmlns:aff="http://www.aff-schema.org"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rigths" type="xs:string"/>
  <xs:element name="displayDate" type="xs:string"/>
  <xs:element name="lastName" type="xs:string"/>
  <xs:element name="ownerName" type="xs:string"/>
  <xs:element name="collectionID" type="xs:string"/>
  <xs:element name="mediaFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="aff:mediaFile" xmlns:aff="http://www.aff-schema.org"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="roleUri" type="xs:string"/>
  <xs:element name="actors">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="aff:actor" xmlns:aff="http://www.aff-schema.org"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="types">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="aff:type" xmlns:aff="http://www.aff-schema.org"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="firstName" type="xs:string"/>
  <xs:element name="localMimeType" type="xs:string"/>
  <xs:element name="ownerUri" type="xs:string"/>
  <xs:element name="lat" type="xs:string"/>
  <xs:element name="title" type="xs:string"/>
  <xs:element name="sourceName" type="xs:string"/>
  <xs:element name="sourceUri" type="xs:string"/>
  <xs:element name="localId" type="xs:string"/>
  <xs:element name="collection">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="aff:collectionID" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:collectionUri" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:collectionName" xmlns:aff="http://www.aff-schema.org"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="events">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="aff:event" xmlns:aff="http://www.aff-schema.org"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="localMediaTypeUri" type="xs:string"/>
  <xs:element name="typeName" type="xs:string"/>
  <xs:element name="admin">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="aff:ownerUri" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:ownerName" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:providerUri" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:providerName" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:rigths" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:checksum" xmlns:aff="http://www.aff-schema.org"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="localUri" type="xs:string"/>
  <xs:element name="thingUri" type="xs:string"/>
  <xs:element name="mediaFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="aff:localURL" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:localMediaTypeUri" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:localMimeType" xmlns:aff="http://www.aff-schema.org"/>
        <xs:element ref="aff:delvingMediaURI" xmlns:aff="http://www.aff-schema.org"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="displayYear" type="xs:string"/>
</xs:schema>