sip-app/src/test/resources/definitions/icn/icn-validation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:icn="http://www.icn.nl/schemas/icn/"
           xmlns:delving="http://schemas.delving.eu/"
           xmlns:dc="http://purl.org/dc/elements/1.1/"
           xmlns:dcterms="http://purl.org/dc/terms/"
           xmlns:europeana="http://www.europeana.eu/schemas/ese/"
           targetNamespace="http://www.icn.nl/schemas/icn/"
           blockDefault="#all">

    <xs:import namespace="http://schemas.delving.eu/" schemaLocation="http://schemas.delving.eu/delving-V1.0.xsd"/>
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/03/xml.xsd"/>
    <xs:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="http://www.dublincore.org/schemas/xmls/qdc/dc.xsd"/>
    <xs:import namespace="http://purl.org/dc/terms/" schemaLocation="http://schemas.delving.eu/dcterms-local.xsd"/>
    <xs:import namespace="http://www.europeana.eu/schemas/ese/" schemaLocation="http://schemas.delving.eu/ese-local.xsd"/>


    <xs:attribute name="localId" type="xs:string"/>
    <xs:attribute name="type" type="xs:string"/>
    <xs:attribute name="key" type="xs:string"/>
    <xs:attribute name="lang" type="xs:string"/>
    <xs:attribute name="MIME" type="xs:string"/>
    <xs:attribute name="rightsUri" type="xs:string"/>
    <xs:attribute name="conceptType" type="xs:string"/>
    <xs:attribute name="schema" type="xs:string"/>
    <xs:attribute name="schemaUri" type="xs:string"/>
    <xs:attribute name="roleInEventUri" type="xs:string"/>
    <xs:attribute name="isoDate" type="xs:string"/>

    <!--<xs:element name="thumbnail" type="xs:anyURI"/>-->

    <xs:group name="dcGroup">
        <xs:choice >
            <xs:element ref="dc:title" minOccurs="0" maxOccurs="unbounded" />
            <xs:element ref="dc:creator" minOccurs="0" maxOccurs="unbounded" />
            <xs:element ref="dc:subject" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dc:description" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dc:publisher" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dc:contributor" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dc:date" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dc:type" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dc:format" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dc:identifier" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dc:source" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dc:language" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dc:relation" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dc:coverage" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dc:rights" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice>
    </xs:group>

    <xs:group name="dctermsGroup">
        <xs:choice>
            <xs:element ref="dcterms:created" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcterms:extent" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcterms:hasFormat" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcterms:hasPart" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcterms:hasVersion" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcterms:isFormatOf" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcterms:isPartOf" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcterms:isReferencedBy" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcterms:isReplacedBy" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcterms:isRequiredBy" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcterms:isVersionOf" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcterms:issued" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcterms:medium" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcterms:references" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcterms:replaces" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcterms:requires" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcterms:tableOfContents" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcterms:alternative" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcterms:spatial" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcterms:temporal" minOccurs="0" maxOccurs="unbounded" />
            <xs:element ref="dcterms:provenance" minOccurs="0" maxOccurs="unbounded" />
            <xs:element ref="dcterms:rightsHolder" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice>
    </xs:group>

    <xs:group name="europeanaGroup">
        <xs:choice>
            <xs:element ref="europeana:isShownBy" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="europeana:rights" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="europeana:isShownAt" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="europeana:unstored" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="europeana:object" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="europeana:provider" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="europeana:dataProvider" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="europeana:type" minOccurs="0" maxOccurs="1"/>

            <xs:element ref="europeana:uri" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="europeana:language" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="europeana:country" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="europeana:collectionName" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="europeana:collectionTitle" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="europeana:source" minOccurs="0" maxOccurs="unbounded"/>

            <xs:element ref="delving:year" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="delving:thumbnail" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="delving:deepZoomUrl" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="delving:fullTextObjectUrl" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="delving:fullText" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice>
    </xs:group>


    <xs:element name="record" type="icn:recordType" block="substitution"/>

    <xs:complexType name="recordType">
        <xs:sequence>
            <!--<xs:element name="creatorYearOfBirth" minOccurs="0" maxOccurs="unbounded"/>-->
            <!--<xs:element name="creatorYearOfDeath" minOccurs="0" maxOccurs="unbounded"/>-->
            <!--<xs:element name="creatorRole" minOccurs="0" maxOccurs="unbounded"/>-->
            <!--<xs:element name="technique" minOccurs="0" maxOccurs="unbounded"/>-->
            <!--<xs:element name="material" minOccurs="0" maxOccurs="unbounded"/>-->

            <xs:element name="dataProviderUri" minOccurs="0" maxOccurs="unbounded"/>
            <!--<xs:element name="location" minOccurs="0" maxOccurs="unbounded"/>-->
            <!--<xs:element name="province" minOccurs="1" maxOccurs="1"/>-->
            <xs:element name="collectionPart" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="acquisitionMeans" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="collectionType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="acquisitionYear" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="purchasePrice" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="acquiredWithHelpFrom" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="physicalState" minOccurs="0" maxOccurs="unbounded"/>

            <xs:element name="musipCollectionUri" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="musipDisplayCollection" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="musipMuseumUri" minOccurs="0" maxOccurs="1"/>
            <xs:element name="musipDisplayMuseum" minOccurs="0" maxOccurs="1"/>
            <xs:element name="theme" minOccurs="0" maxOccurs="1"/>

            <xs:element type="icn:conceptsType" name="concepts" minOccurs="0" maxOccurs="1"/>
            <!--<xs:element type="icn:eventsType" name="events" minOccurs="0" maxOccurs="1"/>-->
            <xs:element type="icn:resourcesType" name="resources" minOccurs="0" maxOccurs="1"/>

            <xs:group minOccurs="0" maxOccurs="unbounded" ref="icn:dcGroup" />
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="icn:dctermsGroup" />
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="icn:europeanaGroup" />

        </xs:sequence>
    </xs:complexType>

    <!-- Concepts -->
       <xs:complexType name="conceptsType">
           <xs:sequence>
               <xs:element type="icn:conceptType" name="concept" minOccurs="0" maxOccurs="unbounded"/>
           </xs:sequence>
       </xs:complexType>

       <xs:complexType name="conceptType">
           <xs:sequence>
               <xs:element type="icn:simpleConceptType" name="displayConcept" maxOccurs="1" minOccurs="0" />
           </xs:sequence>
           <xs:attribute ref="icn:type"/>
           <xs:attribute ref="icn:key"/>
       </xs:complexType>

       <xs:complexType name="simpleConceptType">
           <xs:simpleContent>
               <xs:extension base="xs:string">
                   <xs:attribute ref="icn:conceptType"/>
                   <xs:attribute ref="icn:localId"/>
                   <xs:attribute ref="icn:lang"/>
                   <xs:attribute ref="icn:schema"/>
                   <xs:attribute ref="icn:schemaUri"/>
               </xs:extension>
           </xs:simpleContent>
       </xs:complexType>

     <!--Events-->
    <xs:complexType name="eventsType">
        <xs:sequence>
            <xs:element type="icn:eventType" name="event"  minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="eventType">
        <xs:sequence>
            <xs:element type="icn:isoDateType" name="displayDate" minOccurs="0" maxOccurs="1"/>
            <xs:element name="displayEvent" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="displayPeriod" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="displayMethod" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="displayDescription" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element type="icn:eventActorType" name="eventActor" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="icn:eventPlaceType" name="eventPlace" minOccurs="0"  maxOccurs="unbounded"/>
            <xs:element type="icn:dateType" name="date"  minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute ref="icn:type"/>
        <xs:attribute ref="icn:key"/>
        <xs:attribute ref="icn:lang"/>
        <xs:attribute ref="icn:schema"/>
        <xs:attribute ref="icn:schemaUri"/>
    </xs:complexType>

    <xs:complexType name="isoDateType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute ref="icn:isoDate"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- eventActor -->
    <xs:complexType name="eventActorType">
        <xs:sequence>
            <xs:element name="displayRoleInEvent" type="xs:string" minOccurs="0"/>
            <xs:element name="displayActor" type="xs:string" minOccurs="0"/>
            <xs:element name="displayNationality" type="xs:string" minOccurs="0"/>
            <xs:element name="displayDescription" type="xs:string" minOccurs="0"/>
            <xs:element type="icn:relatedEventType" name="relatedEvent" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute ref="icn:type"/>
        <xs:attribute ref="icn:key"/>
        <xs:attribute ref="icn:roleInEventUri"/>
        <xs:attribute ref="icn:localId"/>
        <xs:attribute ref="icn:schema"/>
        <xs:attribute ref="icn:schemaUri"/>
    </xs:complexType>

    <xs:complexType name="relatedEventType">
        <xs:sequence>
            <xs:element type="icn:isoDateType" name="displayDate" minOccurs="0"/>
            <xs:element name="displayEvent" type="xs:string" minOccurs="0"/>
            <xs:element name="displayDescription" type="xs:string" minOccurs="0"/>
            <xs:element type="icn:relatedEventPlaceType" name="place" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute ref="icn:type"/>
        <xs:attribute ref="icn:key"/>
    </xs:complexType>

    <xs:complexType name="relatedEventPlaceType">
        <xs:sequence>
            <xs:element name="displayPlace" type="xs:string" minOccurs="0"/>
            <xs:element name="lat" type="xs:string" minOccurs="0"/>
            <xs:element name="long" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute ref="icn:type"/>
        <xs:attribute ref="icn:key"/>
        <xs:attribute ref="icn:localId"/>
        <xs:attribute ref="icn:schema"/>
        <xs:attribute ref="icn:schemaUri"/>
    </xs:complexType>

    <!-- eventPlace -->
    <xs:complexType name="eventPlaceType">
        <xs:sequence>
            <xs:element name="displayRoleInEvent" type="xs:string" minOccurs="0"/>
            <xs:element name="displayPlace" type="xs:string" minOccurs="0"/>
            <xs:element name="displayDescription" type="xs:string" minOccurs="0"/>
            <xs:element name="lat" type="xs:string" minOccurs="0"/>
            <xs:element name="long" type="xs:string" minOccurs="0"/>
            <xs:element name="locationGeoHash" type="xs:string" minOccurs="0"/>
            <xs:element type="icn:partOfPlaceType" name="displayPlaceAdmin"  minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute ref="icn:type"/>
        <xs:attribute ref="icn:key"/>
        <xs:attribute ref="icn:roleInEventUri"/>
        <xs:attribute ref="icn:localId"/>
        <xs:attribute ref="icn:schema"/>
        <xs:attribute ref="icn:schemaUri"/>
    </xs:complexType>

    <xs:complexType name="partOfPlaceType">
        <xs:sequence>
            <xs:element name="displayPlace" type="xs:string" minOccurs="0"/>
            <xs:element name="lat" type="xs:string" minOccurs="0"/>
            <xs:element name="long" type="xs:string" minOccurs="0"/>
            <xs:element name="locationGeoHash" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute ref="icn:type"/>
        <xs:attribute ref="icn:key"/>
        <xs:attribute ref="icn:localId"/>
    </xs:complexType>

    <xs:complexType name="dateType">
        <xs:sequence>
            <xs:element type="icn:isoDateType" name="earliestDate" minOccurs="0" maxOccurs="1"/>
            <xs:element type="icn:isoDateType" name="latestDate" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>




    <!-- Resource -->
    <xs:complexType name="resourcesType">
        <xs:sequence>
            <xs:element type="icn:resourceType" name="resource" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="resourceType">
        <xs:sequence>
            <xs:element name="resourceUrl" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="displayDescription" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="displayRights" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute ref="icn:type"/>
        <xs:attribute ref="icn:key"/>
        <xs:attribute ref="icn:lang"/>
        <xs:attribute ref="icn:MIME"/>
        <xs:attribute ref="icn:rightsUri"/>
    </xs:complexType>


</xs:schema>